<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica [labels]= "labels1" [data]="data1" title= "Ventas"></app-grafica>
            </div>
         </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica [labels]="labels2" [data]="data2" title= "Compras"></app-grafica>
            </div>
         </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica [labels]="labels3" [data]="data3" title= "Zapatilas"></app-grafica>
            </div>
         </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica [labels]="labels4" [data]="data4" title= "Mesas"></app-grafica>
            </div>
         </div>
    </div>
</div>

