<div class="input-group">
    <span class="input-group-btn">
        <button type="button"
                [ngClass]= "btnClass"
                (click)= "cambiarValor(-5)">
            <i class="fa fa-minus"></i>
        </button>
    </span>
    <input type="number" 
           max="100" 
           min="0" 
           [ngClass]= "{ 'is-invalid': progress > 100 || progress < 0}"
           (ngModelChange) = "onChange($event)"
           [(ngModel)]="progress" 
           class="form-control" 
           placeholder="Progress">
    <span class="input-group-btn">
        <button (click)= "cambiarValor(+5)"
                [ngClass]= "btnClass"
                type="button">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div> 
